.align-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* vertical-align: middle; */
  align-items: middle;
}

.container {
  margin-top: 50px;
}

label {
  font-size: 2.5rem;
}

.myBtn {
  font-family: "MedievalSharp", cursive;
  width: 140px;
}

.dragonIcon {
  font-size: 700px;
  position: fixed;
  margin-top: -150px;
  z-index: -100;
  color: orangered;
  opacity: 0.15;
}
.brand-logo.center.mybrand-logo {
  color: orangered;
  font-size: 2.3em;
  /* opacity: 0.85; */
}
.welcomeText {
  line-height: 2;
  text-align: center;
}

.playerWelcomeName {
  color: orangered;
  text-transform: capitalize;
}

.gameName {
  color: orangered;
}
.joinGame {
  font-size: 1.3em;
  margin-bottom: 3em;
  margin-top: 3em;
}

label.joinGameHeader {
  font-size: 1.3em;
  color: orangered;
}

/* Materializecss */
/* input.input-field.my-inputfield {
  border: #bbcfa1 0.1rem solid;
  margin: 0px 0px 20px;
  padding: 10px 20px;
  width: 300px;
} */
/* .input-field.my-inputfield > input {
  border-bottom: 0px;
}

.input-field.my-inputfield > input:focus {
  border-bottom: 0px !important;
  box-shadow: none !important;
}

.input-field.my-inputfield > label {
  transition: none; 
} 
.input-field.my-inputfield > label.active {
  transition: none; 
}  */
